@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<a href="/Home/Index" class="block-link">Блок 1 задание 4</a><br>
<a href="/Home/Test"  class="block-link">Блок 2 задание 11</a><br>
<a href="/Home/Third" class="block-link">Блок 3 задание 4</a>
